node_modules

classification-dataset
processed-classification-dataset
split-classification-dataset

detection-dataset
split-detection-dataset
test-detection-dataset

classification-model.keras
detection-model.pt